<launch>
  <arg name="semantic_map_name"/>
  <arg name="nao_ip" default="$(optenv NAO_IP)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  <arg name="logging" default="false" />
  <arg name="log_path" default="/tmp" />
  <arg name="concepts_file" default="$(find mummer_dialogue)/etc/concepts.yaml" />
  
  <include file="$(find dialogue_task_actions)/launch/dialogue_task_actions.launch">
    <arg name="semantic_map_name" value="$(arg semantic_map_name)" />    
  </include>
  <include file="$(find mummer_dialogue)/launch/mummer_dialogue.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
    <arg name="semantic_map_name" value="$(arg semantic_map_name)"/>
    <arg name="logging" value="$(arg logging)"/>
    <arg name="log_path" value="$(arg log_path)"/>
    <arg name="concepts_file" value="$(arg concepts_file)"/>
  </include>
  
</launch>
