<launch>
  <arg name="semantic_map_name"/>
  
  <include file="$(find dialogue_task_actions)/launch/dialogue_task_actions.launch">
    <arg name="semantic_map_name" value="$(arg semantic_map_name)" />    
  </include>
  <node name="mummer_dialogue" pkg="mummer_dialogue" type="parser.py" output="screen" respawn="true">
    <param name="semantic_map_name" type="string" value="$(arg semantic_map_name)"/>
  </node>
  
</launch>
